<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="weather" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Weather</label>
            <tab>orangecat</tab>
            <resource>Orangecat_Weather::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="api_key" translate="label" type="obscure" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Open Weather Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>
                        <![CDATA[<a href="https://home.openweathermap.org/users/sign_up" target="_blank">https://home.openweathermap.org/users/sign_up</a>]]>
                    </comment>
                </field>
                <field id="ttl" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tiempo de vida del cache</label>
                    <comment>
                        <![CDATA[Tiempo de vida del cache en horas]]>
                    </comment>
                </field>
                <field id="message" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mensaje de error</label>
                    <comment>
                        <![CDATA[Mensaje que se muestra en frontend cuando falla el servicio]]>
                    </comment>
                </field>
                <field id="city" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default City</label>
                    <comment>
                        <![CDATA[Se usa en caso que no se pueda geolocalizar al usuario]]>
                    </comment>
                </field>
                <field id="ip" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Test IP</label>
                    <comment>
                        <![CDATA[IP para simular una geolocalizacion]]>
                    </comment>
                </field>
            </group>

        </section>
    </system>
</config>
